spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/softfact
    username: postgres
    password: reinaldo1990
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  server:
    port: 8080

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.flywaydb: DEBUG